<section class="lede section--padding-both">
    <div class="container">
        <p>I Used PHP to connect to and pull down content from Linkedin.</p>
          <ul >
              <li>
                  Process
              </li>
              <li>
                   * I Read the Linkedin API Documentation - https://developer.linkedin.com/docs/rest-api#
              </li>
              <li>
                  * I also Read the PHP GET Request Tutorial  - https://github.com/Happyr/LinkedIn-API-client
              </li>
              <li>
                * After Reading the Linkedin Doc's. I understand how to make the API, but did not execute the code in my own project. However, I am very close.
              </li>

          </ul>
    </div>
</section>
